<div class="tree" *ngIf="tree$ | async as tree">
  <div class="tree-actions">
    <button (click)="clearHighlight()">Clear Highlight</button>
    <button (click)="clearIsolation()">Clear Isolation</button>
  </div>
  <div class="breadcrumb" *ngIf="selectedPath$ | async as path">
    <span *ngFor="let n of path; let last = last">
      <a href="#" (click)="selectNode(n); $event.preventDefault()">{{
        n.name
      }}</a
      ><span *ngIf="!last"> › </span>
    </span>
    <button class="reset" (click)="resetView()">Reset View</button>
  </div>
  <ng-container *ngIf="selectedPath$ | async as path">
    <ul>
      <li
        app-section-node
        *ngFor="let node of tree"
        [node]="node"
        [expandedPath]="pathIds(path)"
      ></li>
    </ul>
  </ng-container>
</div>
